@page
@model IndexModel
@{
    ViewData["Title"] = "Менеджер книг";
}

<h2>Менеджер книг</h2>

<a asp-page="/Books/Create" class="btn btn-primary mb-3">Добавить книгу</a>
<a asp-page="/Test/Test" class="btn btn-primary mb-3">Тестовая страница</a>
<h3>Список книг</h3>
<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Файл</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>
                    @if (!string.IsNullOrEmpty(book.FilePath))
                    {
                        @if (book.FilePath.ToLower().EndsWith(".pdf"))
                        {
                                        <a href="@book.FilePath" target="_blank">Скачать PDF</a>
                        }
                        else if (book.FilePath.ToLower().EndsWith(".txt"))
                        {
                                         <a href="@book.FilePath" target="_blank">Открыть TXT</a>
                        }
                        else
                        {
                                        <a href="@book.FilePath" target="_blank">Скачать</a>
                        }
                    }
                    </td>
                </tr>
        }
    </tbody>
</table>